#chat-screen .status-bar {
    z-index: 2;
}

.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 1;
}

.main-chat__timestamp {
    margin-top: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.main-chat__timestamp-second {
    margin-top: 60px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.message-row {
    display: flex;
    width: 100%;
    transform: translateX(-200px);
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.message-row--own {
    transform: translateX(200px);
}

.message-row__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.message-row img {
    width: 53px;
    height: 53px;
    border-radius: 18px;
    margin-right: 8px;
}

.message__author {
    font-size: 16px;
    opacity: 0.7;
}

.message__info {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}   

.message__bubble {
    background-color: white;
    color: black;
    padding: 8px 8px;
    border-radius: 15px;
    border-top-left-radius: 0;
    font-size: 15px;
}

.message__time {
    font-size: 11px;
    margin-left: 3px;
    opacity: 0.7;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.message-row--own .message__bubble {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    background-color: #2e363e;
    color: white;
    margin-left: 3px;
}

.message-row__lovin {
    margin-left: 121px;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 23px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply input {
    transition: all 0.3s ease-in-out;
}

.reply__column:first-child {
    width: 10%;
}

.reply__column:last-child {
    width: 90%;
    margin-right: 3px;
}

.reply__column input {
    padding: 8px 8px;
    font-size: 15px;
    width: 97%;
    border-radius: 20px;
    border: var(--main-border);
}

.reply__column:nth-child(2) > i,
.reply__column:nth-child(2) button {
    position: absolute;
    right: 0;
    top: 15px;
}

.reply__column:nth-child(2) > i {
    right: 68px;
}

.reply__column > i {
    color: rgba(0, 0, 0, 0.3);
} 

.reply__column:nth-child(2) button {
    top: 9.5px;
    right: 26px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    background-color: #2e363e;
    color: white;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input{
    width: 86vw;
    transform: translateX(-10%) translateY(-50px);
    opacity: 1;
}

.reply:focus-within {
    transform: translateY(50px);
}