.friends-screen {
    margin-top: 15px;
    padding: 0 var(--horizontal-space);
}

#friends-display-link {
    text-align: center;
    margin-top: 15px;
    padding: 11px 0;
    background-color: #FEE3F1;
    font-size: 14px;
}

#friends-display-link i {
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.2);
}

.friends-screen__channel {
    margin-top: 20px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.friends-screen__friends {
    margin-top: 20px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__friends-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.friends-screen__friends .user-component__column {
    display: flex;
    margin-top: 10px;
}

@keyframes HideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-image: url('../../images/background.PNG');
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    animation: HideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1.2s;
}

#splash-screen img {
    width: 300px;
    border-radius: 40px;
    box-shadow: 1px 1px 15px var(--pink);
}