.user-component__text div {
    display: flex;
    align-items: center;
    position: relative;
}

.user-component__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border: 1.5px solid pink;
    border-radius: 50%;
    color: pink;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    right: -20px;
    top: 8px;
}

.user-component__column:last-child i {
    color: #2e363e;
    padding-right: 10px;
}

.more-screen {
    display: flex;
    flex-direction: column;
}

.more-screen .user-component:hover {
    background-color: rgba(255, 255, 255, 0);
}

.more-screen .icon-row {
    margin-top: 35px;
}

.more-screen .icon-row__icon {
    width: 25%;
}

.more-suggestions {
    margin-top: 30px;
    border-top: var(--main-border);
}

.more-suggestions__title {
    margin: 30px 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

@keyframes heartBeatMore {
    0% {
        color: none;
        transform: none;
    }
    50% {
        color: pink;
        transform: scale(1.1);
    }
    100% {
        color: none;
        transform: none;
    }
}

.more-suggestions__icon img {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 7px;
    object-fit: cover;
    box-shadow: 1px 1px 20px var(--pink);
}

.more-suggestions__icon img:hover {
    animation: heartBeatMore 1.1s infinite;
    transition: all 1.1s ease-in-out;
    cursor: pointer;
}

.more-suggestions__text {
    font-size: 14px;
    color: var(--gray);
}