.settings__setting {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    padding-right: 10px;
}

.settings__setting:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.settings__setting i {
    margin-right: 7px;
    color: rgba(255, 255, 255, 0.6);
}

.settings__setting--sub{
    color: var(--gray);
}

.settings-list {
    margin-top: 30px;
}

.settings-list:last-child {
    margin-top: 10px;
}